@model Lingsearcher.ViewModels.ArticleCreateViewModel
@{
    ViewBag.Title = "CreateArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Artigo</h2>


@using (Html.BeginForm())
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }
    @Html.EditorForModel()

    <input type="submit" value="Create Article" class="btn btn-success" />
}
