@model Lingsearcher.ViewModels.UpdatePasswordViewModel
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdatePassword</h2>

@if (!String.IsNullOrEmpty(ViewBag.MessageUpdatePassword))
{
    <script>
        Swal({
            type: 'success',
            title: 'Success!!!',
            text: '@ViewBag.MessageUpdatePassword'
        }).then(function () {
            window.location = "/UserProfile/UpdateUserProfile";
        });
    </script>
}

    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

@using (Html.BeginForm())
{

    @Html.EditorForModel()

    <input type="submit" value="Change Password" class="btn btn-success" />
}

