@model Lingsearcher.ViewModels.UpdateUserProfileViewModel
@{
    ViewBag.Title = "UpdateUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update user profile</h2>

@using (Html.BeginForm())
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

    @Html.EditorForModel()

    <input type="submit" value="Update info" class="btn btn-success" />

    <br />
    @Html.ActionLink("Alterar Senha", "UpdatePassword", "UserProfile")


    <br />
    @Html.ActionLink("Desativar conta", $"DisableUser", "UserProfile")
}
