@model Lingsearcher.ViewModels.AccountConfirmResetPasswordViewModel
@{
    ViewBag.Title = "ConfirmUpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.MessageResetPassword))
{
    <script>
        Swal({
            type: 'success',
            title: 'Success!!!',
            text: '@ViewBag.MessageResetPassword'
        }).then(function () {
            window.location = "/Account/Login";
        });
    </script>
}

<h2>ConfirmUpdatePassword</h2>
@if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.ValidationSummary(true, "Errors: ")
    </div>
}
<!--
<div class="form-group">
    Html.LabelFor(model => model.NewPassword, new { for = "txtNewPassword" })
    Html.PasswordFor(model => model.NewPassword, new { class = "form-control", placeholder = "New password", id = "txtNewPassword" })
    Html.ValidationMessageFor(model => model.NewPassword)
</div>
-->
@using (Html.BeginForm("ConfirmResetPassword", "Account"))
{

    @Html.EditorForModel()

    <input type="submit" value="Reset Password" class="btn btn-danger mt-4" />
}


