@model Lingsearcher.ViewModels.AccountConfirmResetPasswordViewModel
@{
    ViewBag.Title = "ConfirmUpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmUpdatePassword</h2>

@using (Html.BeginForm("ConfirmResetPassword", "Account"))
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

    @Html.EditorForModel()

    <br />
    <input type="submit" value="Reset Password" class="btn btn-danger" />
}


