
@{
    ViewBag.Title = "ConfirmResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmResetPassword</h2>

<p>Verifique sua caixa de entrada para as instruções de troca de senha</p>