@model Lingsearcher.ViewModels.AccountForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>
<p>Preencha o campo de email com seu endereço no fórum e enviarem a ele as instruções para você recuperar sua senh</p>

@using (Html.BeginForm())
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

    @Html.EditorForModel()
    <br/>
    <input type="submit" value="Enviar" class="btn btn-default" />
}