@model Lingsearcher.ViewModels.UserRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account"))
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

    @Html.EditorForModel()

    <br />
    <input type="submit" value="Sign up" class="btn btn-success" />
    @Html.ActionLink("Sign in", "Login", "Account", new object { }, new { @class = "btn btn-default" })
    <i class="fa fa-long-arrow-right m-l-5"></i>
}
